<!DOCTYPE html>
<html>

<head>
  <title>Hasil Bejometer</title>
  <meta name="description" content="<%= description %>">
  <meta name=viewport content="width=device-width, initial-scale=1">

  <link rel="preload" href="/stylesheets/vue-material-v0.7.1.css" onload="this.rel='stylesheet'">

  <link rel="preload" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" onload="this.rel='stylesheet'">
  <link rel="preload" href="//fonts.googleapis.com/icon?family=Material+Icons" onload="this.rel='stylesheet'">
</head>

<body>
  <div id="app">
    <md-tabs md-fixed>
      <md-tab md-icon="favorite_border">
        <md-layout md-row>
          <md-layout md-flex="25" md-hide-small></md-layout>
          <md-layout md-column class="md-headline">
            <md-layout md-align="center"><%= `${result.person1.estimation.gender === 'L' ? 'Mas' : 'Mbak'} ${name1}` %></md-layout>
            <md-layout md-align="center"><%= day1 %></md-layout>
            <md-layout md-align="center"><md-icon class="md-primary md-size-2x">favorite</md-icon></md-layout>
            <md-layout md-align="center"></md-layout>
            <md-layout md-align="center"><%= `${result.person2.estimation.gender === 'L' ? 'Mas' : 'Mbak'} ${name2}` %></md-layout>
            <md-layout md-align="center"><%= day2 %></md-layout>
            <md-layout md-align="center"></md-layout>
            <md-layout md-align="center" class="md-display-1"><%= Math.round(result.match * 10000) / 100 + '%' %> jodoh </md-layout>
            <md-layout md-align="center"></md-layout>
            <md-layout md-align="center"></md-layout>
            <md-layout md-align="center">
              <md-button class="md-primary" @click.native='save("<%=name1%>", "<%=new Date(date1).toISOString().slice(0, 10)%>", "<%=name2%>", "<%=new Date(date2).toISOString().slice(0, 10)%>")'>Buka di Bejometer</md-button>
            </md-layout>
          </md-layout>
          <md-layout md-flex="25" md-hide-small></md-layout>
        </md-layout>
      </md-tab>
    </md-tabs>
  </div>
</body>

<% let vuejs = production ? 'vue.min.js' : 'vue.js' %>
<script src="/javascripts/<%= vuejs %>"></script>
<script src="/javascripts/vue-material-v0.7.1.js"></script>
<script src="/javascripts/bejometer.js"></script>

</html>
